<nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <details style="display:inline;">
            <summary>Sector</summary>
            <ul>
                <li><a href="/solutions/projects?sector=industry">Industry</a></li>
                <li><a href="/solutions/projects?sector=energy">Energy</a></li>
                <li><a href="/solutions/projects?sector=transportation">Transportation</a></li>
            </ul>
        </details>
    </nav>